<% content_for :meta_title, "#{@game.team_a.name} vs #{@game.team_b.name} on the #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Chat about the #{@game.team_a} vs #{@game.team_b} game! Starting time: #{@game.kick_off_time.strftime("%H-%M")} on #{@game.kick_off_time.strftime("%d-%b")}" %>


  <div class="background-pub">


  <div class="title-tables">
    <h2>CHOOSE YOUR TABLE</h2>
  </div>

  <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">

    <% unless @prog.any? %>
      <div class="prog-btn-container">
        <%= render 'prognoses/new' %>
      </div>
    <% else %>
      <div class="prognosis-container text-center">
        <h5>Prediction?</h5>

        <div class="prognosis-score">
          <div class="col-xs-5 no-padding">
            <% if @game.team_a.name.length <= 17 %>
              <p><%= @game.team_a.name %></p>
            <% else %>
              <p><%= @game.team_a.name[0..14] %>...</p>
            <% end %>
          </div>
          <div class="col-xs-2 no-padding">
            <div class="score"> <%= @prog.first.team_a_score %> : <%= @prog.first.team_b_score %></div>
          </div>
          <div class="col-xs-5 no-padding">
            <% if @game.team_b.name.length <= 17 %>
              <p><%= @game.team_b.name %></p>
            <% else %>
              <p><%= @game.team_b.name[0..14] %>...</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to game_chat_path(game_id: @game.id, id: @game.chat_for_team_a), class: "card-tables", id:"first-card-table" do%>
      <div class="card-item">
        <%#= image_tag "table.svg", class:"card-tables-table" %>

        <%= image_tag Team.find(@game.team_a_id).logo, class:"card-tables-logo" %>
      </div>
      <div class="card-team">
        <p><%= Team.find(@game.team_a_id).name %></p>
      </div>
    <% end  %>

    <%= link_to game_chat_path(game_id: @game.id, id: @game.chat_for_team_b), class: "card-tables" do%>
      <div class="card-item">
        <%#= image_tag "table.svg", class:"card-tables-table" %>
        <!-- Logo on Table -->
        <%= image_tag Team.find(@game.team_b_id).logo, class:"card-tables-logo" %>
      </div>
      <div class="card-team">
        <p><%= Team.find(@game.team_b_id).name %></p>
      </div>
    <% end %>


    <%= link_to game_chat_path(game_id: @game.id, id: @game.chat_neutral), class: "card-tables" do%>
      <div class="card-item">
        <%#= image_tag "table.svg", class:"card-tables-table" %>
        <!-- Logo on Table -->
        <%= image_tag "beer.svg", class:"card-tables-beer" %>
      </div>
      <div class="card-team">
        <p>"Stammtisch"</p>
      </div>
    <% end %>
  </div>

</div>
