<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.27) 0%, rgba(0,0,0,0.6) 50%), url('https://images.pexels.com/photos/8590/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=650&w=940')">
  <div class='text-center'>
    <h1>Digital Pub</h1>
    <p>Join the football family</p>
  </div>
</div>

<% if current_user.present? && current_user.favorite_teams.any? %>

  <div class="top-games">
    <div class="title">
      <h2>My top games</h2>
    </div>

    <div class="game-list">
    <% @games[0..2].each do |g| %>
      <div class='game-item'>
        <%= link_to game_chats_path(g) do %>
          <div class="col-xs-4 team-name">
            <% if g.team_a.name.length <= 18 %>
              <p><%= g.team_a.name %></p>
            <% else %>
              <p><%= g.team_a.name[0..15] %>...</p>
            <% end %>
          </div>
          <div class="col-xs-1 logo" style="background-image: url('<%= g.team_a.logo %>')"></div>
          <div class="col-xs-2 datetime">
            <p style="font-size: 10px"><%= g.kick_off_time.strftime("%d-%b") %></p>
            <p style="font-size: 10px"><%= g.kick_off_time.strftime("%H:%M") %></p>
          </div>
          <div class="col-xs-1 logo" style="background-image: url('<%= g.team_b.logo %>')"></div>
          <div class="col-xs-4 team-name">
            <% if g.team_b.name.length <= 18 %>
              <p><%= g.team_b.name %></p>
            <% else %>
              <p><%= g.team_b.name[0..15] %>...</p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
<% end %>

<div class="leagues">
  <div class="title">
    <h2>Choose your league</h2>
  </div>

  <div class="league-list">
    <% @leagues.each do |l| %>
    <div class="col-xs-3">
      <div class="league-item" style="background-image: url('<%= l.logo %>') ">
        <%= link_to '', '/' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
